APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost:8000

# Database Configuration
DB_DRIVER=pgsql
DB_HOST=localhost
DB_PORT=5432
DB_NAME=magma_db
DB_USER=db_user
DB_PASSWORD=LetMeIn123
DB_EMULATE_PREPARES=false

# Mailer Configuration
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=your_mailtrap_username
MAIL_PASSWORD=your_mailtrap_password
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=no-reply@magma.local
MAIL_FROM_NAME="Magma Framework"

# Redis Configuration
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

SESSION_DRIVER=redis
SESSION_LIFETIME=1800
SESSION_LIFETIME_ADMIN=7200
